<div class="row">
  <div class="col-sm-6">
    <h2>Instances</h2>
  </div>

  <div class="col-sm-6 custom-text-right">
      <a class='btn btn-primary' (click)='create()'> Create Instance</a>
  </div>
</div>



<div class='card-custom instances'>
  <h5>All Instances</h5>
  <app-instance *ngFor='let instance of (api.instances | async)'
                [instance]='instance'
                (edit)='edit($event)'
  ></app-instance>
</div>

<app-instance-details-modal
  *ngIf='selectedInstance'
  [instance]="selectedInstance"
  [editMode]="editMode"
  (close)="selectedInstance=null"
></app-instance-details-modal>

<app-instance-connection-modal
  *ngIf='receivedDeets'
  [deets]="receivedDeets"
  (close)="receivedDeets=null"
></app-instance-connection-modal>
