<div class="row">
  <div class="col-sm-6">
    <h4>Instances</h4>
  </div>

  <div class="col-sm-6">
      <a href='#' class='btn btn-primary float-right' (click)='create()'>+ Create Instance</a>
  </div>
</div>



<div class='card-custom instances'>
  <h5>All Instances</h5>
  <app-instance *ngFor='let instance of (api.instances | async)'
                [instance]='instance'
                (edit)='edit($event)'
  ></app-instance>
</div>

<app-instance-details-modal
  *ngIf='selectedInstance'
  [instance]="selectedInstance"
  [editMode]="editMode"
  (close)="selectedInstance=null"
></app-instance-details-modal>
