:host {
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #444;
    padding: 10px 20px;
    margin: 10px 0px;
    width: 100vw;
    max-width: 500px;
    align-items: center;

    * {
        margin: 0px 10px;
    }

    i {
        flex: 0 0 auto;
    }

    i.fa-pencil-alt {
        margin-left: auto;
    }

    i.action {
        cursor: pointer;
    }

    i.info {
        cursor: help;
    }
}