<div class="row instance">
  <div class="col-sm-9">
    <ng-container *ngIf='!inProgress'>
        <ng-container *ngIf='success === null'>
            <i class="info fas fa-check-circle color-blue" *ngIf='instance.active' data-toggle="tooltip" [title]='instance.status || "active"'></i>
            <i class="info fas fa-exclamation-circle" *ngIf='!instance.active' data-toggle="tooltip" [title]='instance.status || "inactive"'></i>
        </ng-container>
        <ng-container *ngIf='success != null'>
            <i class="info fas fa-thumbs-up color-blue" *ngIf='success'></i>
            <i class="info fas fa-exclamation-circle" *ngIf='!success'></i>
        </ng-container>
    </ng-container>
    <i class="info fas fa-spinner" *ngIf='inProgress'></i>

    <small>{{instance.id}}</small>
    <strong>{{instance.params.siteTitle}}</strong>
    <span>{{instance.params.externalAddress}}</span>
  </div>
  <div class="col-sm-3 custom-text-right">
    <button class="btn btn-default btn-sm action" (click)='editInstance()'> <i class="fas fa-pencil-alt" ></i> Edit</button>
    <button class="btn btn-default btn-sm action"  (click)='delete()'> <i class="fas fa-trash-alt"></i>  Delete</button>
  </div>
</div>
