<div class="login-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <div class="login">

                        <img src="/assets/nav-logo.png" width=65/>
                        <h1>Multi-Tenant CKAN Portal</h1>
                        <p>Please Sign in</p>
            
                        <a [href]='login_href()' *ngIf='!api.authenticated' class="btn btn-primary">
                            <i class="fab fa-github"></i>&nbsp; Login with Github</a>
            
                        <ng-container *ngIf='api.authenticated && !api.authorized'>
                            <h3>
                                <i class="fas fa-exclamation-triangle"></i> No Access
                            </h3>
                            <span *ngIf='email && email.length > 0'>
                                Logged in as {{email}}, <a href='#' (click)='logout()'>Logout</a>
                            </span>
                        </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>

